opengate==10.0.1 # see TODOs.md for later versions
awkward-pandas # used to read opengate's output files
napari[all]; sys_platform == 'linux' # used for display. napari/opengate combo only works on linux